nav{
   width:100%;
   background-color: black;
   position: fixed;
   top: 0;
   }
   nav>ul{
     text-align: center;
   }
   ul>li{
     display: inline-block;
   }
   nav>ul>li>a{
     padding: 15px;
     margin-right: o;
     text-transform: uppercase;
     text-decoration: none;
     display: block;
     color: yellow;
   }
   nav>ul>li>a:hover{
     box-shadow: 0 0 10px rgba(75, 4, 241, 0.1),inset 0 0 1px rgba(33, 241, 5, 0.6);
     background: rgba(240, 97, 40, 0.3);
     color: whitesmoke;
   }
 body{
   font-size: 28px;
   text-align: center;
   color: rgb(7, 1, 0);
   background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
 }
 h1{
   padding-top: 120px;
 }
 #wmn,#mn,#lejo{
   display: flex;
   justify-content: space-evenly;
   color: whitesmoke
 }
 #mn>p ,#wmn>p ,#lejo>p{
  background-color: rgb(3, 3, 3);
  border-radius: 70px;
 }
#mn>p:hover{
  border-radius: 70px;
  box-shadow: 0 0 10px rgba(13, 253, 13, 0.1),inset 0 0 1px rgba(8, 1, 37, 0.6);
  background: rgba(117, 117, 119, 0.3);
  color: rgba(17, 7, 150, 0.8)
}
#wmn>p:hover{
  border-radius: 70px;
  box-shadow: 0 0 10px rgba(13, 253, 13, 0.1),inset 0 0 1px rgba(8, 1, 37, 0.6);
  background: rgba(117, 117, 119, 0.3);
  color: rgba(17, 7, 150, 0.8)
}
#lejo>p:hover{
  border-radius: 70px;
  box-shadow: 0 0 10px rgba(13, 253, 13, 0.1),inset 0 0 1px rgba(8, 1, 37, 0.6);
  background: rgba(117, 117, 119, 0.3);
  color: rgba(17, 7, 150, 0.8)
}
img{
  border-radius: 70px;
}
footer{
  justify-content: center;
  width: 100%;
  background-color: black;
color: rgb(226, 230, 19);
  }
  .fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
    justify-content: space-around;
      }
  .fa:hover{
    opacity: 0.9;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-youtube {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
      background: #3B5998;
      color: white;
    }
  .fa-pinterest {
      background: #3B5998;
      color: white;
    }
    #fa{
      justify-content: space-evenly;
    }
     
  
@media screen and (max-width:480px){
  .nav{
    height: auto;
    width: 100%;
  }
  body{
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }
  #mn,#wmn,#lejo{
    display: flex;
    flex-direction: column;
  }

}
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}
